@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --ps-puddle: rgb(75,26,0);      /* Used in puddle, cup outlines */
        --ps-cup-primary: rgb(137,52,5);   /* Used in outer cup, rim */
        --ps-cup-secondary: rgb(74,26,0);  /* Used in inner cup, shadow */
        --ps-small-puddle: rgb(97,50,0);     /* Used in small puddle */
        --ps-inner-puddle-shadow: rgb(129,66,0);   /* Used in inner puddle shadow */
        --ps-small-puddle-detail: rgb(66,34,0);    /* Used in small puddle detail */
        --ps-puddle-outline: rgb(255,255,255);     /* Used in puddle outline */
        --ps-text-color: rgb(255,255,255);     /* Used in text */

        --ps-cup-inner-shadow: rgb(140,140,140);        /* Used in cup inner shadow, back of cup */
        --ps-foreground: rgb(255,255,255);       /* Used in inner cup, highlights */
    }
}
